templates/intermediaries/processmanager/snippets/standard/common/processmanager.activity.messagetransform.snippet.json.liquid
{%- capture workflow_object_name -%}{{ workflow_object.name | replace: " ", "_" | replace: ".", "_" | replace: "'", "_" }}_({{ workflow_object.properties.UniqueId }}){%- endcapture -%}
{%- capture source_message -%}{{ workflow_object.properties.SourceMessageReferences | first | split: '.' | first }}{%- endcapture -%}
{%- capture target_message -%}{{ workflow_object.properties.TargetMessageReferences | first | split: '.' | first }}{%- endcapture -%}
{%- if workflow_object.properties.IsMultiSource == false and workflow_object.properties.IsMultiTarget == false -%}
{
    "workflowDefinitionAction": {
        "Construct:_{{ workflow_object_name }}": {
            "runAfter": {},
            "type": "Scope",
            "description": "{{ workflow_object.type }}",
            "actions": {
                "{{ workflow_object_name }}:_Call_GetBodyContent": {
                    "runAfter": {},
					"type": "Http",
					"inputs": {
					  "body": "@variables('{{ source_message }}')",
					  "method": "POST",
					  "uri": "@{appsetting('apimBaseUrl')}/aimmessagingmanager/getbodycontent",
					  "queries": {
						"clearCache": "@coalesce(variables('Configuration')?['globalConfig']?['clearCache'], 'false')",
						"enableTrace": "@coalesce(variables('Configuration')?['globalConfig']?['enableTrace'], 'false')"
					  },
					  "retryPolicy": {
						"type": "none"
					  },
					  "headers": {
						"Aim-Tracking-Id": "@{variables('{{ source_message }}')?['header']?['properties']?['trackingId']}",
						"Content-Type": "application/json",
						"Ocp-Apim-Subscription-Key": "@appsetting('apimSubscriptionKey')"
					  }
					}
                },
				"{{ workflow_object_name }}:_GetTranslatorUrl": {
					"type": "Http",
					"inputs": {
						"method": "GET",
						"uri": "@{appsetting('apimBaseUrl')}/aimroutingmanager/logicappcallbackurl/@{encodeURIComponent(appsetting('systemApplicationResourceGroupName'))}/{{ resource_template.parameters.azure_xml_translator_lite_logic_app_name }}",
						"headers": {
							"Ocp-Apim-Subscription-Key": "@appsetting('apimSubscriptionKey')"
						},
						"queries": {
							"clearCache": "@parameters('clearCache')"
						},
						"retryPolicy": {
							"type": "none"
						}
					},
					"runAfter": {
						"{{ workflow_object_name }}:_Call_GetBodyContent": [
                            "Succeeded"
                        ]
					}
				},
                "{{ workflow_object_name }}:_Transform": {
                    "runAfter": {
                        "{{ workflow_object_name }}:_GetTranslatorUrl": [
                            "Succeeded"
                        ]
                    },
                    "type": "Http",
                    "inputs": {
						"method": "POST",
						"uri": "@{body('{{ workflow_object_name }}:_GetTranslatorUrl')?['logicAppUrl']}",
                        "body": {
							"bodyContent": "@{body('{{ workflow_object_name }}:_Call_GetBodyContent')?['$content']}",
							"mapName": "{{ workflow_object.properties.Map }}"
						},
						"retryPolicy": {
							"type": "none"
						}
                    }
                },
                "{{ workflow_object_name }}:_Call_BuildEnvelope": {
                    "runAfter": {
                        "{{ workflow_object_name }}:_Transform": [
                            "Succeeded"
                        ]
                    },
					"type": "Http",
					"inputs": {
					  "body": "@body('{{ workflow_object_name }}:_Transform')",
					  "method": "POST",
					  "uri": "@{appsetting('apimBaseUrl')}/aimmessagingmanager/buildenvelope/@{encodeURIComponent('document')}/@{encodeURIComponent(parameters('{{ resource_template.parameters.workflow_name }}.processManager.scenarioName'))}",
					  "queries": {
						"clearCache": "@coalesce(variables('Configuration')?['globalConfig']?['clearCache'], 'false')",
						"enableTrace": "@coalesce(variables('Configuration')?['globalConfig']?['enableTrace'], 'false')"
					  },
					  "retryPolicy": {
						"type": "none"
					  },
					  "headers": {
						"Aim-Tracking-Id": "@{variables('{{ source_message }}')?['header']?['properties']?['trackingId']}",
						"Content-Type": "application/xml",
						"Ocp-Apim-Subscription-Key": "@appsetting('apimSubscriptionKey')"
					  }
					}
                },
                "{{ workflow_object_name }}:_Set_MessageType": {
                    "runAfter": {
                        "{{ workflow_object_name }}:_Call_BuildEnvelope": [
                            "Succeeded"
                        ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "MessageType",
                        "value": "@{coalesce(xpath(xml(body('{{ workflow_object_name }}:_Transform')), 'namespace-uri(/*)'), '')}#@{coalesce(xpath(xml(body('{{ workflow_object_name }}:_Transform')), 'local-name(/*)'), '')}"
                    }
                },
                "{{ workflow_object_name }}:_Set_Message": {
                    "runAfter": {
                        "{{ workflow_object_name }}:_Set_MessageType": [
                            "Succeeded"
                        ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "{{ target_message }}",
                        "value": "@setProperty(body('{{ workflow_object_name }}:_Call_BuildEnvelope'), 'header', setProperty(body('{{ workflow_object_name }}:_Call_BuildEnvelope')?['header'], 'properties', setProperty(body('{{ workflow_object_name }}:_Call_BuildEnvelope')?['header']?['properties'], 'btsMessageType', variables('MessageType'))))"
                    }
                }
            }
        }
    }
}
{%- else -%}
{
    "workflowDefinitionAction": {
        "{{ workflow_object.type }}:_{{ workflow_object_name }}": {
            "runAfter": {},
            "type": "JavaScriptCode",
            "description": "{{ workflow_object.type }} - Unsupported Multimap Transform",
            "inputs": {
                "code": "var activity = \"{{ workflow_object.name }}\";\r\nreturn activity;"
            }
        }
    }
}
{%- endif -%}