src/intermediaries/standard/systemapplication.logic.workflows/xmlmessagevalidator/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "correlation": {
          "clientTrackingId": "triggerBody()?['header']?['properties']?['trackingId']"
        },
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {}
        }
      }
    },
    "actions": {
      "Initialize_StatusCode_variable": {
        "runAfter": {},
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "StatusCode",
              "type": "integer",
              "value": 500
            }
          ]
        }
      },
      "Initialize_FaultMessage_variable": {
        "runAfter": {
          "Initialize_StatusCode_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FaultMessage",
              "type": "object"
            }
          ]
        }
      },
      "Initialize_ErrorMessage_variable": {
        "runAfter": {
          "Initialize_FaultMessage_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ErrorMessage",
              "type": "string",
              "value": "An error occurred in the @{workflow()?['name']} (@{workflow()?['run']?['name']}) LogicApp"
            }
          ]
        }
      },
      "Initialize_ResponseMessage_variable": {
        "runAfter": {
          "Initialize_ErrorMessage_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ResponseMessage",
              "type": "object",
              "value": null
            }
          ]
        }
      },
      "Initialize_Checkpoint_variable": {
        "runAfter": {
          "Initialize_ResponseMessage_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Checkpoint",
              "type": "string"
            }
          ]
        }
      },
      "Initialize_Envelope_variable": {
        "runAfter": {
          "Initialize_Checkpoint_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Envelope",
              "type": "object",
              "value": "@triggerBody()"
            }
          ]
        }
      },
      "Initialize_Configuration_variable": {
        "runAfter": {
          "Initialize_Envelope_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Configuration",
              "type": "object"
            }
          ]
        }
      },
      "Initialize_BodyContent_variable": {
        "runAfter": {
          "Initialize_Configuration_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "BodyContent",
              "type": "string"
            }
          ]
        }
      },
      "Initialize_SchemaName_variable": {
        "runAfter": {
          "Initialize_BodyContent_variable": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SchemaName",
              "type": "string"
            }
          ]
        }
      },
      "MessageSender:_Were_we_Successful": {
        "actions": {
          "Routing:_Call_RoutingSlipRouter": {
            "runAfter": {},
            "type": "Workflow",
            "inputs": {
              "body": "@variables('Envelope')",
              "headers": {
                "Aim-Clear-Cache": "@coalesce(variables('Configuration')?['globalConfig']?['clearCache'], 'false')",
                "Aim-Enable-Trace": "@coalesce(variables('Configuration')?['globalConfig']?['enableTrace'], 'false')",
                "Aim-Tracking-Id": "@{triggerBody()?['header']?['properties']?['trackingId']}",
                "Content-Type": "application/json"
              },
              "host": {
                "workflow": {
                    "id": "routingsliprouter"
                }
              },
              "retryPolicy": {
                "type": "none"
              }
            }
          },
          "Routing:_Check_StatusCode": {
            "runAfter": {
              "Routing:_Set_StatusCode_variable": [
                "Succeeded"
              ]
            },
            "cases": {
              "Success": {
                "case": 200,
                "actions": {
                  "Routing:Success:_Send_ACK-Content_response": {
                    "runAfter": {},
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "body": "@body('Routing:_Call_RoutingSlipRouter')",
                      "headers": {
                        "Aim-Clear-Cache": "@coalesce(variables('Configuration')?['globalConfig']?['clearCache'], 'false')",
                        "Aim-Enable-Trace": "@coalesce(variables('Configuration')?['globalConfig']?['enableTrace'], 'false')",
                        "Aim-Tracking-Id": "@{triggerBody()?['header']?['properties']?['trackingId']}",
                        "Content-Type": "application/json"
                      },
                      "statusCode": 200
                    }
                  }
                }
              }
            },
            "default": {
              "actions": {
                "Routing:Error:_Build_NACK_message": {
                  "runAfter": {
                    "Routing:Error:_Do_we_have_a_Fault_Message": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": {
                    "body": [
                      {
                        "$content": {
                          "code": "500",
                          "message": "@variables('ErrorMessage')",
                          "lastCheckpoint": "@variables('Checkpoint')",
                          "fault": "@variables('FaultMessage')"
                        },
                        "$contentType": "application/json",
                        "$part": 1,
                        "$partType": "http://schemas.microsoft.com/aim#nack"
                      }
                    ],
                    "header": {
                      "properties": {
                        "createDate": "@utcNow()",
                        "envelopeType": "nack",
                        "messageId": "@guid()",
                        "rootPart": 1,
                        "trackingId": "@triggerBody()?['header']?['properties']?['trackingId']"
                      },
                      "routing": {
                        "MessageType": "http://schemas.microsoft.com/aim#nack"
                      },
                      "routingSlip": {},
                      "state": {}
                    }
                  }
                },
                "Routing:Error:_Do_we_have_a_Fault_Message": {
                  "actions": {
                    "Routing:Error:Fault:_Set_ErrorMessage_variable": {
                      "runAfter": {
                        "Routing:Error:Fault:_Set_FaultMessage_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorMessage",
                        "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}) trying to call the RoutingSlipRouter Logic App"
                      }
                    },
                    "Routing:Error:Fault:_Set_FaultMessage_variable": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "FaultMessage",
                        "value": "@body('Routing:_Call_RoutingSlipRouter')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Routing:Error:NoFault:_Create_Fault_Message": {
                        "runAfter": {},
                        "type": "Compose",
                        "inputs": {
                          "fault": {
                            "faultActor": "@concat(workflow()['name'], '.', actions('Routing:_Call_RoutingSlipRouter')?['name'], ' (', workflow()?['run']?['name'], ')')",
                            "faultCategory": "Error",
                            "faultCode": "@{coalesce(outputs('Routing:_Call_RoutingSlipRouter')?['statusCode'], outputs('Routing:_Call_RoutingSlipRouter')?['body']?['statusCode'], actions('Routing:_Call_RoutingSlipRouter')?['error']?['code'])}",
                            "faultMessage": "@{coalesce(outputs('Routing:_Call_RoutingSlipRouter')?['error']?['message'], outputs('Routing:_Call_RoutingSlipRouter')?['body']?['message'], actions('Routing:_Call_RoutingSlipRouter')?['error']?['message'])}",
                            "faultReason": "@{actions('Routing:_Call_RoutingSlipRouter')?['status']}"
                          }
                        }
                      },
                      "Routing:Error:NoFault:_Set_ErrorMessage_variable": {
                        "runAfter": {
                          "Routing:Error:NoFault:_Set_FaultMessage_variable": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorMessage",
                          "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}) trying to call the RoutingSlipRouter Logic App"
                        }
                      },
                      "Routing:Error:NoFault:_Set_FaultMessage_variable": {
                        "runAfter": {
                          "Routing:Error:NoFault:_Create_Fault_Message": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "FaultMessage",
                          "value": "@outputs('Routing:Error:NoFault:_Create_Fault_Message')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('Routing:_Call_RoutingSlipRouter')?['fault']",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                },
                "Routing:Error:_Send_NACK_response": {
                  "runAfter": {
                    "Routing:Error:_Build_NACK_message": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "body": "@outputs('Routing:Error:_Build_NACK_message')",
                    "headers": {
                      "Aim-Clear-Cache": "@coalesce(variables('Configuration')?['globalConfig']?['clearCache'], 'false')",
                      "Aim-Enable-Trace": "@coalesce(variables('Configuration')?['globalConfig']?['enableTrace'], 'false')",
                      "Aim-Tracking-Id": "@{triggerBody()?['header']?['properties']?['trackingId']}",
                      "Content-Type": "application/json"
                    },
                    "statusCode": 200
                  }
                }
              }
            },
            "expression": "@variables('StatusCode')",
            "type": "Switch"
          },
          "Routing:_Set_StatusCode_variable": {
            "runAfter": {
              "Routing:_Call_RoutingSlipRouter": [
                "Succeeded",
                "Failed",
                "Skipped",
                "TimedOut"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "StatusCode",
              "value": "@coalesce(outputs('Routing:_Call_RoutingSlipRouter')?['statusCode'], 500)"
            }
          }
        },
        "runAfter": {
          "Step:_Validate_Xml": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "else": {
          "actions": {
            "Failure:_Build_NACK_message": {
              "runAfter": {},
              "type": "Compose",
              "inputs": {
                "body": [
                  {
                    "$content": {
                      "code": "500",
                      "message": "@variables('ErrorMessage')",
                      "lastCheckpoint": "@variables('Checkpoint')",
                      "fault": "@variables('FaultMessage')"
                    },
                    "$contentType": "application/json",
                    "$part": 1,
                    "$partType": "http://schemas.microsoft.com/aim#nack"
                  }
                ],
                "header": {
                  "properties": {
                    "createDate": "@utcNow()",
                    "envelopeType": "nack",
                    "messageId": "@guid()",
                    "rootPart": 1,
                    "trackingId": "@triggerBody()?['header']?['properties']?['trackingId']"
                  },
                  "routing": {
                    "MessageType": "http://schemas.microsoft.com/aim#nack"
                  },
                  "routingSlip": {},
                  "state": {}
                }
              }
            },
            "Failure:_Send_NACK_response": {
              "runAfter": {
                "Failure:_Build_NACK_message": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "body": "@outputs('Failure:_Build_NACK_message')",
                "headers": {
                  "Aim-Clear-Cache": "@coalesce(variables('Configuration')?['globalConfig']?['clearCache'], 'false')",
                  "Aim-Enable-Trace": "@coalesce(variables('Configuration')?['globalConfig']?['enableTrace'], 'false')",
                  "Aim-Tracking-Id": "@{triggerBody()?['header']?['properties']?['trackingId']}",
                  "Content-Type": "application/json"
                },
                "statusCode": 200
              }
            }
          }
        },
        "expression": {
          "or": [
            {
              "equals": [
                "@variables('Checkpoint')",
                "ValidateXml"
              ]
            },
            {
              "equals": [
                "@variables('Checkpoint')",
                "SkipXmlValidation"
              ]
            }
          ]
        },
        "type": "If"
      },
      "Step:_Get_Configuration": {
        "actions": {
          "GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep": {
            "runAfter": {},
            "type": "Http",
            "inputs": {
              "method": "GET",
              "uri": "@{appsetting('apimBaseUrl')}/aimconfigurationmanager/configuration/@{encodeURIComponent(triggerBody()?['header']?['properties']?['scenario'])}/xmlMessageValidator",
              "queries": {
                "clearCache": "@{coalesce(triggerOutputs()?['headers']?['Aim-Clear-Cache'], 'false')}"
              },
              "retryPolicy": {
                "type": "none"
              },
              "headers": {
                "Ocp-Apim-Subscription-Key": "@appsetting('apimSubscriptionKey')"
              }
            }
          },
          "GetConfiguration:_Check_Status_Code": {
            "runAfter": {
              "GetConfiguration:_Set_StatusCode_variable": [
                "Succeeded"
              ]
            },
            "cases": {
              "Success": {
                "case": 200,
                "actions": {
                  "GetConfiguration:Success:_Set_Checkpoint_variable": {
                    "runAfter": {
                      "GetConfiguration:Success:_Set_Configuration_variable": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Checkpoint",
                      "value": "GetConfiguration"
                    }
                  },
                  "GetConfiguration:Success:_Set_Configuration_variable": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Configuration",
                      "value": "@body('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')"
                    }
                  }
                }
              }
            },
            "default": {
              "actions": {
                "GetConfiguration:Failure:_Do_we_have_a_Fault_Message": {
                  "actions": {
                    "GetConfiguration:Fault:_Set_ErrorMessage_variable": {
                      "runAfter": {
                        "GetConfiguration:Fault:_Set_FaultMessage_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorMessage",
                        "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}) trying to call the ConfigurationManager GetConfigurationForStep operation"
                      }
                    },
                    "GetConfiguration:Fault:_Set_FaultMessage_variable": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "FaultMessage",
                        "value": "@body('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "GetConfiguration:NoFault:_Create_Fault_Message": {
                        "runAfter": {},
                        "type": "Compose",
                        "inputs": {
                          "fault": {
                            "faultActor": "@concat(workflow()?['name'], '.', actions('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['name'], ' (', workflow()?['run']?['name'], ')')",
                            "faultCategory": "Error",
                            "faultCode": "@{coalesce(outputs('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['statusCode'], outputs('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['body']?['statusCode'], actions('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['error']?['code'])}",
                            "faultMessage": "@{coalesce(outputs('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['error']?['message'], outputs('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['body']?['message'], actions('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['error']?['message'])}",
                            "faultReason": "@{actions('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['status']}"
                          }
                        }
                      },
                      "GetConfiguration:NoFault:_Set_ErrorMessage_variable": {
                        "runAfter": {
                          "GetConfiguration:NoFault:_Set_FaultMessage_variable": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorMessage",
                          "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}) trying to call the ConfigurationManager GetConfigurationForStep operation"
                        }
                      },
                      "GetConfiguration:NoFault:_Set_FaultMessage_variable": {
                        "runAfter": {
                          "GetConfiguration:NoFault:_Create_Fault_Message": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "FaultMessage",
                          "value": "@outputs('GetConfiguration:NoFault:_Create_Fault_Message')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['fault']",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                }
              }
            },
            "expression": "@variables('StatusCode')",
            "type": "Switch"
          },
          "GetConfiguration:_Set_StatusCode_variable": {
            "runAfter": {
              "GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep": [
                "Succeeded",
                "Failed",
                "Skipped",
                "TimedOut"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "StatusCode",
              "value": "@coalesce(outputs('GetConfiguration:_Call_APIM_ConfigurationManager.GetConfigurationForStep')?['statusCode'], 500)"
            }
          }
        },
        "runAfter": {
          "Initialize_SchemaName_variable": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('Checkpoint')",
                ""
              ]
            }
          ]
        },
        "type": "If"
      },
      "Step:_Check_MessageType": {
        "actions": {
          "CheckMessageType:_Is_MessageType_blank": {
            "actions": {
              "CheckMessageType:Failure:_Set_ErrorMessage_variable": {
                "runAfter": {},
                "type": "SetVariable",
                "inputs": {
                  "name": "ErrorMessage",
                  "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}): Unable to find a btsMessageType property for this envelope."
                }
              }
            },
            "runAfter": {},
            "else": {
              "actions": {
                "CheckMessageType:Success:_Set_Checkpoint_variable": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Checkpoint",
                    "value": "CheckMessageType"
                  }
                }
              }
            },
            "expression": {
              "and": [
                {
                  "equals": [
                    "@{coalesce(variables('Envelope')?['header']?['properties']?['btsMessageType'], '')}",
                    ""
                  ]
                }
              ]
            },
            "type": "If"
          }
        },
        "runAfter": {
          "Step:_Get_Configuration": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('Checkpoint')",
                "GetConfiguration"
              ]
            }
          ]
        },
        "type": "If"
      },
      "Step:_Get_SchemaName": {
        "actions": {
          "GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType": {
            "runAfter": {},
            "type": "Http",
            "inputs": {
              "method": "GET",
              "uri": "@{appsetting('apimBaseUrl')}/aimconfigurationmanager/schemabymessagetype/@{encodeUriComponent(coalesce(variables('Envelope')?['header']?['properties']?['btsMessageType'], '(undefined)'))}",
              "queries": {
                "clearCache": "@{coalesce(variables('Configuration')?['xmlMessageValidator']?['clearCache'], 'false')}"
              },
              "retryPolicy": {
                "type": "none"
              },
              "headers": {
                "Ocp-Apim-Subscription-Key": "@appsetting('apimSubscriptionKey')"
              }
            }
          },
          "GetSchemaName:_Check_Status_Code": {
            "runAfter": {
              "GetSchemaName:_Set_StatusCode_variable": [
                "Succeeded"
              ]
            },
            "cases": {
              "Success": {
                "case": 200,
                "actions": {
                  "GetSchemaName:Success:_Set_Checkpoint_variable": {
                    "runAfter": {
                      "GetSchemaName:Success:_Set_SchemaName_variable": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Checkpoint",
                      "value": "GetSchemaName"
                    }
                  },
                  "GetSchemaName:Success:_Set_SchemaName_variable": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SchemaName",
                      "value": "@body('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['schemaName']"
                    }
                  }
                }
              }
            },
            "default": {
              "actions": {
                "GetSchemaName:Failure:_Do_we_have_a_Fault_Message": {
                  "actions": {
                    "GetSchemaName:Fault:_Set_ErrorMessage_variable": {
                      "runAfter": {
                        "GetSchemaName:Fault:_Set_FaultMessage_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorMessage",
                        "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}) trying to call the ConfigurationManager GetSchemaNameByMessageType operation"
                      }
                    },
                    "GetSchemaName:Fault:_Set_FaultMessage_variable": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "FaultMessage",
                        "value": "@body('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "GetSchemaName:NoFault:_Create_Fault_Message": {
                        "runAfter": {},
                        "type": "Compose",
                        "inputs": {
                          "fault": {
                            "faultActor": "@concat(workflow()?['name'], '.', actions('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['name'], ' (', workflow()?['run']?['name'], ')')",
                            "faultCategory": "Error",
                            "faultCode": "@{coalesce(outputs('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['statusCode'], outputs('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['body']?['statusCode'], actions('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['error']?['code'])}",
                            "faultMessage": "@{coalesce(outputs('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['error']?['message'], outputs('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['body']?['message'], actions('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['error']?['message'])}",
                            "faultReason": "@{actions('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['status']}"
                          }
                        }
                      },
                      "GetSchemaName:NoFault:_Set_ErrorMessage_variable": {
                        "runAfter": {
                          "GetSchemaName:NoFault:_Set_FaultMessage_variable": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorMessage",
                          "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}) trying to call the ConfigurationManager GetSchemaNameByMessageType operation"
                        }
                      },
                      "GetSchemaName:NoFault:_Set_FaultMessage_variable": {
                        "runAfter": {
                          "GetSchemaName:NoFault:_Create_Fault_Message": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "FaultMessage",
                          "value": "@outputs('GetSchemaName:NoFault:_Create_Fault_Message')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['fault']",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                }
              }
            },
            "expression": "@variables('StatusCode')",
            "type": "Switch"
          },
          "GetSchemaName:_Set_StatusCode_variable": {
            "runAfter": {
              "GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType": [
                "Succeeded",
                "Failed",
                "Skipped",
                "TimedOut"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "StatusCode",
              "value": "@coalesce(outputs('GetSchemaName:_Call_APIM_ConfigurationManager.GetSchemaNameByMessageType')?['statusCode'], 500)"
            }
          }
        },
        "runAfter": {
          "Step:_Check_MessageType": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('Checkpoint')",
                "CheckMessageType"
              ]
            }
          ]
        },
        "type": "If"
      },
      "Step:_Check_SchemaName": {
        "actions": {
          "CheckSchemaName:_Is_SchemaName_blank": {
            "actions": {
              "CheckSchemaName:SchemaNameBlank:_Allow_unrecognized_MessageType": {
                "actions": {
                  "CheckMapName:MapNameBlank:SpipXmlValidation:_Set_Checkpoint_variable": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Checkpoint",
                      "value": "SkipXmlValidation"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "CheckSchemaName:Failure:_Set_ErrorMessage_variable": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorMessage",
                        "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}): Unable to find a Schema for the current MessageType for this envelope, and the allowUnrecognizedMessages config value is set to False. MessageType is: '@{coalesce(variables('Envelope')?['properties']?['btsMessageType'], '(undefined)')}'."
                      }
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@coalesce(variables('Configuration')?['xmlMessageValidator']?['allowUnrecognizedMessages'], true)",
                        true
                      ]
                    }
                  ]
                },
                "type": "If"
              }
            },
            "runAfter": {},
            "else": {
              "actions": {
                "CheckSchemaName:Success:_Set_Checkpoint_variable": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Checkpoint",
                    "value": "PerformXmlValidation"
                  }
                }
              }
            },
            "expression": {
              "and": [
                {
                  "equals": [
                    "@{coalesce(variables('SchemaName'), '')}",
                    ""
                  ]
                }
              ]
            },
            "type": "If"
          }
        },
        "runAfter": {
          "Step:_Get_SchemaName": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('Checkpoint')",
                "GetSchemaName"
              ]
            }
          ]
        },
        "type": "If"
      },
      "Step:_Check_BodyContent": {
        "actions": {
          "CheckBodyContent:_Body_Content_is_missing": {
            "actions": {
              "CheckBodyContent:Failure:_Set_ErrorMessage_variable": {
                "runAfter": {},
                "type": "SetVariable",
                "inputs": {
                  "name": "ErrorMessage",
                  "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}): No Root Body content can be found in the supplied Envelope"
                }
              }
            },
            "runAfter": {
              "CheckBodyContent:_Select_Root_Part": [
                "Succeeded"
              ]
            },
            "else": {
              "actions": {
                "CheckBodyContent:Success:_Set_Checkpoint_variable": {
                  "runAfter": {},
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Checkpoint",
                    "value": "CheckBodyContent"
                  }
                }
              }
            },
            "expression": {
              "and": [
                {
                  "equals": [
                    "@coalesce(body('CheckBodyContent:_Select_Root_Part')?[0]?['$content'], '')",
                    ""
                  ]
                }
              ]
            },
            "type": "If"
          },
          "CheckBodyContent:_Select_Root_Part": {
            "runAfter": {},
            "type": "Query",
            "inputs": {
              "from": "@variables('Envelope')?['body']",
              "where": "@equals(item()?['$part'], variables('Envelope')?['header']?['properties']?['rootPart'])"
            }
          }
        },
        "runAfter": {
          "Step:_Check_SchemaName": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('Checkpoint')",
                "PerformXmlValidation"
              ]
            }
          ]
        },
        "type": "If"
      },
      "Step:_Get_BodyContent": {
        "actions": {
          "GetBodyContent:_Call_APIM_MessageManager.GetBodyContent": {
            "runAfter": {},
            "type": "Http",
            "inputs": {
              "body": "@variables('Envelope')",
              "method": "POST",
              "uri": "@{appsetting('apimBaseUrl')}/aimmessagingmanager/getbodycontent",
              "queries": {
                "clearCache": "@coalesce(variables('Configuration')?['globalConfig']?['clearCache'], 'false')",
                "enableTrace": "@coalesce(variables('Configuration')?['globalConfig']?['enableTrace'], 'false')"
              },
              "retryPolicy": {
                "type": "none"
              },
              "headers": {
                "Aim-Tracking-Id": "@{triggerBody()?['header']?['properties']?['trackingId']}",
                "Content-Type": "application/json",
                "Ocp-Apim-Subscription-Key": "@appsetting('apimSubscriptionKey')"
              }
            }
          },
          "GetBodyContent:_Check_Status_Code": {
            "runAfter": {
              "GetBodyContent:_Set_StatusCode_variable": [
                "Succeeded"
              ]
            },
            "cases": {
              "Success": {
                "case": 200,
                "actions": {
                  "GetBodyContent:Success:_Set_Checkpoint_variable": {
                    "runAfter": {
                      "GetBodyContent:Success:_Set_BodyContent_variable": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Checkpoint",
                      "value": "GetBodyContent"
                    }
                  },
                  "GetBodyContent:Success:_Set_BodyContent_variable": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "BodyContent",
                      "value": "@{base64ToString(body('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['$content'])}"
                    }
                  }
                }
              }
            },
            "default": {
              "actions": {
                "GetBodyContent:Failure:_Do_we_have_a_Fault_Message": {
                  "actions": {
                    "GetBodyContent:Fault:_Set_ErrorMessage_variable": {
                      "runAfter": {
                        "GetBodyContent:Fault:_Set_FaultMessage_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorMessage",
                        "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}) trying to call the MessageManager GetBodyContent operation"
                      }
                    },
                    "GetBodyContent:Fault:_Set_FaultMessage_variable": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "FaultMessage",
                        "value": "@body('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "GetBodyContent:NoFault:_Create_Fault_Message": {
                        "runAfter": {},
                        "type": "Compose",
                        "inputs": {
                          "fault": {
                            "faultActor": "@concat(workflow()?['name'], '.', actions('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['name'], ' (', workflow()?['run']?['name'], ')')",
                            "faultCategory": "Error",
                            "faultCode": "@{coalesce(outputs('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['statusCode'], outputs('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['body']?['statusCode'], actions('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['error']?['code'])}",
                            "faultMessage": "@{coalesce(outputs('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['error']?['message'], outputs('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['body']?['message'], actions('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['error']?['message'])}",
                            "faultReason": "@{actions('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['status']}"
                          }
                        }
                      },
                      "GetBodyContent:NoFault:_Set_ErrorMessage_variable": {
                        "runAfter": {
                          "GetBodyContent:NoFault:_Set_FaultMessage_variable": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorMessage",
                          "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}) trying to call the MessageManager GetBodyContent operation"
                        }
                      },
                      "GetBodyContent:NoFault:_Set_FaultMessage_variable": {
                        "runAfter": {
                          "GetBodyContent:NoFault:_Create_Fault_Message": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "FaultMessage",
                          "value": "@outputs('GetBodyContent:NoFault:_Create_Fault_Message')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')?['fault']",
                            null
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                }
              }
            },
            "expression": "@variables('StatusCode')",
            "type": "Switch"
          },
          "GetBodyContent:_Set_StatusCode_variable": {
            "runAfter": {
              "GetBodyContent:_Call_APIM_MessageManager.GetBodyContent": [
                "Succeeded",
                "Failed",
                "Skipped",
                "TimedOut"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "StatusCode",
              "value": "@coalesce(outputs('GetBodyContent:_Call_APIM_MessageManager.GetBodyContent')['statusCode'], 500)"
            }
          }
        },
        "runAfter": {
          "Step:_Check_BodyContent": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('Checkpoint')",
                "CheckBodyContent"
              ]
            }
          ]
        },
        "type": "If"
      },
      "Step:_Validate_Xml": {
        "actions": {
          "ValidateXml:Failure:_Set_StatusCode_variable": {
            "runAfter": {
              "ValidateXml:_Validate_Xml": [
                "Failed",
                "Skipped",
                "TimedOut"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "StatusCode",
              "value": 500
            }
          },
          "ValidateXml:Success:_Set_StatusCode_variable": {
            "runAfter": {
              "ValidateXml:_Validate_Xml": [
                "Succeeded"
              ]
            },
            "type": "SetVariable",
            "inputs": {
              "name": "StatusCode",
              "value": 200
            }
          },
          "ValidateXml:_Check_StatusCode": {
            "runAfter": {
              "ValidateXml:Failure:_Set_StatusCode_variable": [
                "Succeeded",
                "Skipped"
              ],
              "ValidateXml:Success:_Set_StatusCode_variable": [
                "Succeeded",
                "Skipped"
              ]
            },
            "cases": {
              "Success": {
                "case": 200,
                "actions": {
                  "ValidateXml:Success:_Set_Checkpoint_variable": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Checkpoint",
                      "value": "ValidateXml"
                    }
                  }
                }
              }
            },
            "default": {
              "actions": {
                "ValidateXml:Failure:_Create_Fault_message": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": {
                    "fault": {
                      "faultActor": "@concat(workflow()?['name'], '.', actions('ValidateXml:_Validate_Xml')?['name'], ' (', workflow()?['run']?['name'], ')')",
                      "faultCategory": "Error",
                      "faultCode": "@{coalesce(outputs('ValidateXml:_Validate_Xml')?['statusCode'], outputs('ValidateXml:_Validate_Xml')?['body']?['statusCode'], actions('ValidateXml:_Validate_Xml')?['error']?['code'])}",
                      "faultMessage": "@{coalesce(if(greater(length(outputs('ValidateXml:_Validate_Xml')?['errors']), 0), outputs('ValidateXml:_Validate_Xml')?['errors']?[0]?['message'], null), outputs('ValidateXml:_Validate_Xml')?['error']?['message'], outputs('ValidateXml:_Validate_Xml')?['body']?['message'], actions('ValidateXml:_Validate_Xml')?['error']?['message'])}",
                      "faultReason": "@{actions('ValidateXml:_Validate_Xml')?['status']}"
                    }
                  }
                },
                "ValidateXml:Failure:_Set_ErrorMessage_variable": {
                  "runAfter": {
                    "ValidateXml:Failure:_Set_FaultMessage_variable": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ErrorMessage",
                    "value": "An error occurred in @{workflow()?['name']} (@{workflow()?['run']?['name']}) trying to validate XML"
                  }
                },
                "ValidateXml:Failure:_Set_FaultMessage_variable": {
                  "runAfter": {
                    "ValidateXml:Failure:_Create_Fault_message": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "FaultMessage",
                    "value": "@outputs('ValidateXml:Failure:_Create_Fault_message')"
                  }
                }
              }
            },
            "expression": "@variables('StatusCode')",
            "type": "Switch"
          },
          "ValidateXml:_Validate_Xml": {
            "runAfter": {},
            "type": "XmlValidation",
            "inputs": {
              "content": "@variables('BodyContent')",
              "schema": {
                "name": "@{coalesce(variables('SchemaName'), '')}"
              }
            }
          }
        },
        "runAfter": {
          "Step:_Get_BodyContent": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@variables('Checkpoint')",
                "GetBodyContent"
              ]
            }
          ]
        },
        "type": "If"
      }
    }
  },
  "kind": "Stateful"
}